.full-width-button {
    width: 100%;
   }

   .btn-square {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    font-size:20px;
    margin: 10px;
   }
   body {
    overflow-y: hidden !important
  }
  .container {
    margin: 0 auto;
    width: 50%; 
   }
   .p-card .p-card-title {
    margin-left: 25% !important;
}
.container {
  margin: auto;
  width: 55%
  }
   