<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<header>
  <div class="logo">
    <a href="">
      <img src="assets/images/logo.png" alt="" />
    </a>
  </div>
  <div class="navigation d-flex">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="/shows/list/movie">Movies && Tv Shows</a></li>
      <!-- <li><a routerLink="shows/list/tv">TV Shows</a></li> -->
      <li><a routerLink="genres">Genres</a></li>
      <li  *ngIf="userData$ | async as user"> {{user.username}}</li>
      
    </ul>
    <button (click)="logout()" class="">Logout</button>
   
  </div>

</header>
